/* Start of Base CSS */
:root {
    --background: rgba(66, 86, 94, 0.384);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: aliceblue;
    font-family: 'Work Sans', sans-serif; 
    font-weight: 400;
    /* Be sure to change the font-family */
}

.content {
    height: 200vh;
    /* background-image: url(https://unsplash.com/photos/78A265wPiO4); */
    background-color: aliceblue;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
}

/* End of Base CSS */

/* Start of index.html */

.diq {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8%;
    border: 5px solid rgba(66, 86, 94, 0.384);
    width: 50%;
    padding: 3%;
    border-style: groove;
}

/* End of index.html */

/* Start of signin.html */

.signinh1 {
    position: relative;
    top: 400px;
    left: 500px;
}

.container1 {
    text-align: center;
    position: relative;
    bottom: 310px;
}

.container2 {
    text-align: center;
    position: relative;
    bottom: 200px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.si {
    text-align: center;
}

.siform {
    position: relative;
    left: 12%;
    top: 10%;
}

/* End of signin.html */

/* Start of signup.html */

.container {
    padding: 15%;
}

.btn {
    margin-top: 3%;
}

.su {
    text-align: center;
}

#authbutt {
    margin-left: 32%;
}

.suform {
    position: relative;
    left: 12%;
    top: 10%;
}
/* End of signup.html */

/* Start of consent.html */

.consenth1 {
    position: relative;
    top: 170px;
    text-align: center;
}

.consenth2 {
    position: relative;
    top: 250px;
    text-align: center;
    width: 65%;
    left: 18%;
    text-align: center;
}

.consform {
    position: relative;
    top: 100px;
    left: 210px;
}

.cfh1 {
    text-align: center;
}

#consbutt {
    margin-left: 38%;
}
/* End of consent.html */

/* Start of customer.html */

#custbutt {
    margin-left: 38%;
}

.custform {
    position: relative;
    right: 12%;
    bottom: 120px;
}

.lorem {
    position: relative;
    left: 60%;
    width: 40%;
    top: 380px;
}

.custh1{
    text-align: center;
}

.custh2 {
    text-align: center;
}

/* End of customer.html */

/* Start of search.html */

.searchform {
    position: relative;
    right: 12%;
    bottom: 277px;
}

#searchtable {
    position: relative;
    width: 30%;
    left: 50%;
    top: 300px;
    border: 1px solid lightgray;
}

.results {
    position: relative;
    left: 62.5%;
    top: 290px;
}

#searchtable td {
    text-align: center;
    width: 100%;
}

#searchtable tr:hover {
    background-color: var(--background);
}

#searchtable tr:nth-child(odd) {
    background-color: var(--background);
}

#searchtable th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: var(--background);
    color: black;

}

#searchbutt {
    margin-left: 39%;
}

.sci {
    text-align: center;
}

/* .setable {
    position: relative;
    margin-left: 15%;
} */

/* End of search.html */

/* Start of Nav Styles */

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    margin-top: 5%;
    height: 40%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: 'relative';
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 11px;
}

.nav-toggle-label span::after {
    top: 11px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 250ms ease-in-out 250ms;
}

nav a:hover {
    color: grey;
}

.nav-toggle:checked ~ nav {
    display: block;
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.logo{
    padding: 1rem;
    height: 130px;
    width: 300px;
}

@media screen and (min-width: 800px){
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    .logo {
        grid-column: 2 / 3;
    }
    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }
    nav a {
        opacity: 1;
        position: relative;
    }
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: aliceblue;
        position: absolute;
        bottom: -.75em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }
}

/* End of Nav Styles */