<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="../static/css/main.css">
<title>Micro Brow Art</title>
</head>
<body>
<header>
  <img class="logo" src="../static/images/MircroBrowArtLogoBlack.png" alt="Micro Brow Art Logo">
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav>
    <ul>
      <li><a href="{{ url_for('site.home') }}">Home</a></li>
      <li><a href="{{ url_for('cust.create_customer') }}">Customer</a></li>
      <li><a href="{{ url_for('searcher.search') }}">Search</a></li>
      <li><a href="{{ url_for('cons.consent') }}">Consent</a></li>
      {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
      {% else %}
      <li><a href="{{ url_for('auth.signin') }}">Sign In</a></li>
      <li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
      {% endif %}
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>


  {% block content %}
  {% endblock content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>