<form method="POST">     
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset id="first_name-field">
            {{ form.first_name.label }}
            {{ form.first_name(class = "form-control", placeholder = "First Name") }}
        </fieldset>
        <fieldset id="last_name-field">
            {{ form.last_name.label }}
            {{ form.last_name(class = "form-control", placeholder = "Last Name") }}
        </fieldset>

        {{ form.Search(id = 'searchbutt', class = 'btn btn-secondary btn-block') }}
    </div>

</form>