{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for cat,msg in messages %}
                {% if cat == 'user-created' %}
                    <div class="alert alert-success">
                        {{ msg }}
                        <button type="button" class = 'close' data-dismiss = 'alert'>&times;</button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<br>
<br>
<div class = "container1">
    <h3> Welcome to Micro Brow Art Customer Relation Manager! {{ current_user.email }} </h3>
</div>

<div class = "container2">
    <h5> This app is designed to handle relationships with clients using the concepts of
        customer relationship management. The primary goal is to act as data entry for clients
        and the ability to retrieve that information easily. The consent form page is a mockup, 
        in the future the plan is to integrate this application with an Embedded Docusign API 
        to handle clients signing consent forms.
    </h5>
</div>

    <div class = 'diq'>
        <h4>Here is your Daily Inspirational Quote</h4>
        <br>
        {% for datas in data %}
        <span><i>"{{ datas["q"] }}"</i></span>
        {% endfor %}
    </div>

{% endblock content %}